Repository privacy-scaling-explorations/excubiae: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-error-on-unmatched-pattern, eslint

docs: small nits on readmes
  README.md
  packages/contracts/contracts/README.md
Due: prettier --write --no-error-on-unmatched-pattern

docs: wrong example on readme command
  README.md
Due: prettier --write --no-error-on-unmatched-pattern

chore: v0.1.0
  packages/contracts/contracts/package.json
  scripts/version.ts
  tsconfig.json
Due: prettier --write --no-error-on-unmatched-pattern, eslint

feat(contracts): add standard way to call external verifiers and aggregate their logic
  packages/contracts/contracts/src/AdvancedChecker.sol
  packages/contracts/contracts/src/AdvancedPolicy.sol
  packages/contracts/contracts/src/BaseChecker.sol
  packages/contracts/contracts/src/BasePolicy.sol
  packages/contracts/contracts/src/Checker.sol
  packages/contracts/contracts/src/interfaces/IAdvancedChecker.sol
  packages/contracts/contracts/src/interfaces/IAdvancedPolicy.sol
  packages/contracts/contracts/src/interfaces/IBaseChecker.sol
  packages/contracts/contracts/src/interfaces/IBasePolicy.sol
  packages/contracts/contracts/src/interfaces/IChecker.sol
  packages/contracts/contracts/src/test/Advanced.t.sol
  packages/contracts/contracts/src/test/Base.t.sol
  packages/contracts/contracts/src/test/advanced/AdvancedERC721Checker.sol
  packages/contracts/contracts/src/test/advanced/AdvancedVoting.sol
  packages/contracts/contracts/src/test/base/BaseERC721Checker.sol
  packages/contracts/contracts/src/test/base/BaseVoting.sol
  packages/contracts/contracts/src/test/wrappers/AdvancedERC721CheckerHarness.sol
  packages/contracts/contracts/src/test/wrappers/AdvancedERC721PolicyHarness.sol
  packages/contracts/contracts/src/test/wrappers/BaseERC721CheckerHarness.sol
  packages/contracts/contracts/src/test/wrappers/BaseERC721PolicyHarness.sol
  packages/contracts/test/Advanced.test.ts
  packages/contracts/test/Base.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

refactor(contracts): core contracts optimization, reflect on tests
  packages/contracts/contracts/src/Checker.sol
  packages/contracts/contracts/src/interfaces/IChecker.sol
  packages/contracts/contracts/src/test/Advanced.t.sol
  packages/contracts/contracts/src/test/Base.t.sol
  packages/contracts/contracts/src/test/advanced/AdvancedERC721Checker.sol
  packages/contracts/contracts/src/test/advanced/AdvancedVoting.sol
  packages/contracts/contracts/src/test/base/BaseERC721Checker.sol
  packages/contracts/contracts/src/test/wrappers/AdvancedERC721CheckerHarness.sol
  packages/contracts/contracts/src/test/wrappers/BaseERC721CheckerHarness.sol
  packages/contracts/test/Advanced.test.ts
  packages/contracts/test/Base.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

Update LICENSE
  LICENSE
Due: none

refactor(contracts): remove double mapping from policy
  packages/contracts/contracts/src/AdvancedPolicy.sol
  packages/contracts/contracts/src/BasePolicy.sol
  packages/contracts/contracts/src/test/advanced/AdvancedVoting.sol
  packages/contracts/contracts/src/test/base/BaseVoting.sol
  packages/contracts/test/Advanced.test.ts
  packages/contracts/test/Base.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

style(contracts): better folder organization for contracts
  packages/contracts/contracts/src/core/checker/AdvancedChecker.sol
  packages/contracts/contracts/src/core/checker/BaseChecker.sol
  packages/contracts/contracts/src/core/checker/Checker.sol
  packages/contracts/contracts/src/core/interfaces/IAdvancedChecker.sol
  packages/contracts/contracts/src/core/interfaces/IAdvancedPolicy.sol
  packages/contracts/contracts/src/core/interfaces/IBaseChecker.sol
  packages/contracts/contracts/src/core/interfaces/IBasePolicy.sol
  packages/contracts/contracts/src/core/interfaces/IChecker.sol
  packages/contracts/contracts/src/core/interfaces/IFactory.sol
  packages/contracts/contracts/src/core/interfaces/IPolicy.sol
  packages/contracts/contracts/src/core/policy/AdvancedPolicy.sol
  packages/contracts/contracts/src/core/policy/BasePolicy.sol
  packages/contracts/contracts/src/core/policy/Policy.sol
  packages/contracts/contracts/src/test/Advanced.t.sol
  packages/contracts/contracts/src/test/Base.t.sol
  packages/contracts/contracts/src/test/advanced/AdvancedERC721Checker.sol
  packages/contracts/contracts/src/test/advanced/AdvancedERC721Policy.sol
  packages/contracts/contracts/src/test/advanced/AdvancedVoting.sol
  packages/contracts/contracts/src/test/base/BaseERC721Checker.sol
  packages/contracts/contracts/src/test/base/BaseERC721Policy.sol
  packages/contracts/contracts/src/test/wrappers/AdvancedERC721CheckerHarness.sol
  packages/contracts/contracts/src/test/wrappers/AdvancedERC721PolicyHarness.sol
Due: prettier --write --no-error-on-unmatched-pattern

chore(contracts): add solady lib
  packages/contracts/contracts/package.json
  packages/contracts/package.json
  packages/contracts/remappings.txt
  yarn.lock
Due: prettier --write --no-error-on-unmatched-pattern

feat(contracts): draft minimal proxy pattern with immutable args implementation
  packages/contracts/contracts/src/core/checker/AdvancedChecker.sol
  packages/contracts/contracts/src/core/checker/BaseChecker.sol
  packages/contracts/contracts/src/core/checker/Checker.sol
  packages/contracts/contracts/src/core/interfaces/IAdvancedChecker.sol
  packages/contracts/contracts/src/core/interfaces/IChecker.sol
  packages/contracts/contracts/src/core/interfaces/IPolicy.sol
  packages/contracts/contracts/src/core/policy/AdvancedPolicy.sol
  packages/contracts/contracts/src/core/policy/BasePolicy.sol
  packages/contracts/contracts/src/core/policy/Policy.sol
  packages/contracts/contracts/src/test/Advanced.t.sol
  packages/contracts/contracts/src/test/Base.t.sol
  packages/contracts/contracts/src/test/advanced/AdvancedERC721Checker.sol
  packages/contracts/contracts/src/test/advanced/AdvancedERC721CheckerFactory.sol
  packages/contracts/contracts/src/test/advanced/AdvancedERC721Policy.sol
  packages/contracts/contracts/src/test/advanced/AdvancedERC721PolicyFactory.sol
  packages/contracts/contracts/src/test/base/BaseERC721Checker.sol
  packages/contracts/contracts/src/test/base/BaseERC721CheckerFactory.sol
  packages/contracts/contracts/src/test/base/BaseERC721Policy.sol
  packages/contracts/contracts/src/test/base/BaseERC721PolicyFactory.sol
  packages/contracts/contracts/src/test/wrappers/AdvancedERC721CheckerHarness.sol
  packages/contracts/contracts/src/test/wrappers/AdvancedERC721PolicyHarness.sol
  packages/contracts/contracts/src/test/wrappers/BaseERC721CheckerHarness.sol
  packages/contracts/contracts/src/test/wrappers/BaseERC721PolicyHarness.sol
  packages/contracts/test/Advanced.test.ts
  packages/contracts/test/Base.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

refactor(contracts): add common clone contract for proxies
  packages/contracts/contracts/src/core/checker/AdvancedChecker.sol
  packages/contracts/contracts/src/core/checker/BaseChecker.sol
  packages/contracts/contracts/src/core/checker/Checker.sol
  packages/contracts/contracts/src/core/interfaces/IClone.sol
  packages/contracts/contracts/src/core/interfaces/IPolicy.sol
  packages/contracts/contracts/src/core/policy/AdvancedPolicy.sol
  packages/contracts/contracts/src/core/policy/BasePolicy.sol
  packages/contracts/contracts/src/core/policy/Policy.sol
  packages/contracts/contracts/src/core/proxy/Clone.sol
  packages/contracts/contracts/src/test/advanced/AdvancedERC721Checker.sol
  packages/contracts/contracts/src/test/base/BaseERC721Checker.sol
Due: prettier --write --no-error-on-unmatched-pattern

refactor(contracts): add hierarchy of factory and clones
  packages/contracts/contracts/src/core/interfaces/IFactory.sol
  packages/contracts/contracts/src/core/proxy/Factory.sol
  packages/contracts/contracts/src/test/Advanced.t.sol
  packages/contracts/contracts/src/test/Base.t.sol
  packages/contracts/contracts/src/test/advanced/AdvancedERC721CheckerFactory.sol
  packages/contracts/contracts/src/test/advanced/AdvancedERC721PolicyFactory.sol
  packages/contracts/contracts/src/test/base/BaseERC721CheckerFactory.sol
  packages/contracts/contracts/src/test/base/BaseERC721PolicyFactory.sol
Due: prettier --write --no-error-on-unmatched-pattern

docs(contracts): add code documentation to core contracts
  packages/contracts/contracts/src/core/checker/AdvancedChecker.sol
  packages/contracts/contracts/src/core/checker/BaseChecker.sol
  packages/contracts/contracts/src/core/interfaces/IAdvancedChecker.sol
  packages/contracts/contracts/src/core/interfaces/IAdvancedPolicy.sol
  packages/contracts/contracts/src/core/interfaces/IBaseChecker.sol
  packages/contracts/contracts/src/core/interfaces/IBasePolicy.sol
  packages/contracts/contracts/src/core/interfaces/IChecker.sol
  packages/contracts/contracts/src/core/interfaces/IClone.sol
  packages/contracts/contracts/src/core/interfaces/IFactory.sol
  packages/contracts/contracts/src/core/interfaces/IPolicy.sol
  packages/contracts/contracts/src/core/policy/AdvancedPolicy.sol
  packages/contracts/contracts/src/core/policy/BasePolicy.sol
  packages/contracts/contracts/src/core/policy/Policy.sol
  packages/contracts/contracts/src/core/proxy/Clone.sol
  packages/contracts/contracts/src/core/proxy/Factory.sol
  packages/contracts/contracts/src/test/Advanced.t.sol
  packages/contracts/contracts/src/test/Base.t.sol
Due: prettier --write --no-error-on-unmatched-pattern

refactor(contracts): add missing harnesses and comments to base and advanced test contracts
  packages/contracts/contracts/src/test/advanced/AdvancedERC721Checker.sol
  packages/contracts/contracts/src/test/advanced/AdvancedERC721CheckerFactory.sol
  packages/contracts/contracts/src/test/advanced/AdvancedERC721Policy.sol
  packages/contracts/contracts/src/test/advanced/AdvancedERC721PolicyFactory.sol
  packages/contracts/contracts/src/test/advanced/AdvancedVoting.sol
  packages/contracts/contracts/src/test/base/BaseERC721Checker.sol
  packages/contracts/contracts/src/test/base/BaseERC721CheckerFactory.sol
  packages/contracts/contracts/src/test/base/BaseERC721Policy.sol
  packages/contracts/contracts/src/test/base/BaseERC721PolicyFactory.sol
  packages/contracts/contracts/src/test/base/BaseVoting.sol
  packages/contracts/contracts/src/test/wrappers/AdvancedERC721CheckerFactoryHarness.sol
  packages/contracts/contracts/src/test/wrappers/AdvancedERC721CheckerHarness.sol
  packages/contracts/contracts/src/test/wrappers/AdvancedERC721PolicyFactoryHarness.sol
  packages/contracts/contracts/src/test/wrappers/AdvancedERC721PolicyHarness.sol
  packages/contracts/contracts/src/test/wrappers/BaseERC721CheckerFactoryHarness.sol
  packages/contracts/contracts/src/test/wrappers/BaseERC721CheckerHarness.sol
  packages/contracts/contracts/src/test/wrappers/BaseERC721PolicyFactoryHarness.sol
  packages/contracts/contracts/src/test/wrappers/BaseERC721PolicyHarness.sol
Due: prettier --write --no-error-on-unmatched-pattern

style(contracts): better folder org for harnesses
  packages/contracts/contracts/src/test/advanced/wrappers/AdvancedERC721CheckerFactoryHarness.sol
  packages/contracts/contracts/src/test/advanced/wrappers/AdvancedERC721CheckerHarness.sol
  packages/contracts/contracts/src/test/advanced/wrappers/AdvancedERC721PolicyFactoryHarness.sol
  packages/contracts/contracts/src/test/advanced/wrappers/AdvancedERC721PolicyHarness.sol
  packages/contracts/contracts/src/test/base/wrappers/BaseERC721CheckerFactoryHarness.sol
  packages/contracts/contracts/src/test/base/wrappers/BaseERC721CheckerHarness.sol
  packages/contracts/contracts/src/test/base/wrappers/BaseERC721PolicyFactoryHarness.sol
  packages/contracts/contracts/src/test/base/wrappers/BaseERC721PolicyHarness.sol
Due: prettier --write --no-error-on-unmatched-pattern

refactor(contracts): remove harnesses since every internal and protected method can be reached
  packages/contracts/contracts/src/test/advanced/wrappers/AdvancedERC721CheckerFactoryHarness.sol
  packages/contracts/contracts/src/test/advanced/wrappers/AdvancedERC721CheckerHarness.sol
  packages/contracts/contracts/src/test/advanced/wrappers/AdvancedERC721PolicyFactoryHarness.sol
  packages/contracts/contracts/src/test/advanced/wrappers/AdvancedERC721PolicyHarness.sol
  packages/contracts/contracts/src/test/base/wrappers/BaseERC721CheckerFactoryHarness.sol
  packages/contracts/contracts/src/test/base/wrappers/BaseERC721CheckerHarness.sol
  packages/contracts/contracts/src/test/base/wrappers/BaseERC721PolicyFactoryHarness.sol
  packages/contracts/contracts/src/test/base/wrappers/BaseERC721PolicyHarness.sol
Due: prettier --write --no-error-on-unmatched-pattern

test(contracts): refactoring of solidity tests and reached 100% code coverage
  packages/contracts/contracts/src/core/policy/BasePolicy.sol
  packages/contracts/contracts/src/core/proxy/Clone.sol
  packages/contracts/contracts/src/test/Advanced.t.sol
  packages/contracts/contracts/src/test/Base.t.sol
Due: prettier --write --no-error-on-unmatched-pattern

test(contracts): update hh tests to reflect contracts changes
  packages/contracts/contracts/src/test/Advanced.t.sol
  packages/contracts/test/Advanced.test.ts
  packages/contracts/test/Base.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

test(contracts): update tests to reach 100% code coverage on hh tests
  packages/contracts/contracts/src/core/interfaces/IFactory.sol
  packages/contracts/contracts/src/core/policy/AdvancedPolicy.sol
  packages/contracts/test/Advanced.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

docs(contracts): more clarity on optional and mandatory checks based on contract configs
  packages/contracts/contracts/src/core/interfaces/IAdvancedChecker.sol
Due: prettier --write --no-error-on-unmatched-pattern

chore: v0.2.0
  package.json
  packages/contracts/contracts/package.json
Due: prettier --write --no-error-on-unmatched-pattern

chore: v0.2.0
  package.json
Due: prettier --write --no-error-on-unmatched-pattern

docs: update readme
  README.md
  packages/contracts/contracts/README.md
Due: prettier --write --no-error-on-unmatched-pattern

chore: update core dependencies versions and avoid conflicts; fix main scripts run
  .yarn/releases/yarn-4.5.0.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  apps/docs/package.json
  apps/website/package.json
  package.json
  packages/contracts/contracts/package.json
  packages/contracts/package.json
  yarn.lock
Due: prettier --write --no-error-on-unmatched-pattern

style(contracts): bad naming on tests
  packages/contracts/test/Advanced.test.ts
  packages/contracts/test/Base.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

chore: update year on license
  LICENSE
Due: none

chore: add code of conduct and contribution guidelines
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: prettier --write --no-error-on-unmatched-pattern

refactor(contracts)!: remove enforced mapping for extensive flexibility
  packages/contracts/contracts/src/core/interfaces/IPolicy.sol
  packages/contracts/contracts/src/core/policy/AdvancedPolicy.sol
  packages/contracts/contracts/src/core/policy/BasePolicy.sol
  packages/contracts/contracts/src/test/Advanced.t.sol
  packages/contracts/contracts/src/test/Base.t.sol
  packages/contracts/contracts/src/test/advanced/AdvancedERC721PolicyFactory.sol
  packages/contracts/contracts/src/test/advanced/AdvancedVoting.sol
  packages/contracts/contracts/src/test/base/BaseVoting.sol
  packages/contracts/test/Advanced.test.ts
  packages/contracts/test/Base.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

refactor(contracts)!: remove evidence array
  packages/contracts/contracts/src/core/checker/AdvancedChecker.sol
  packages/contracts/contracts/src/core/checker/BaseChecker.sol
  packages/contracts/contracts/src/core/interfaces/IAdvancedChecker.sol
  packages/contracts/contracts/src/core/interfaces/IAdvancedPolicy.sol
  packages/contracts/contracts/src/core/interfaces/IBaseChecker.sol
  packages/contracts/contracts/src/core/interfaces/IBasePolicy.sol
  packages/contracts/contracts/src/core/policy/AdvancedPolicy.sol
  packages/contracts/contracts/src/core/policy/BasePolicy.sol
  packages/contracts/contracts/src/test/Advanced.t.sol
  packages/contracts/contracts/src/test/Base.t.sol
  packages/contracts/contracts/src/test/advanced/AdvancedERC721Checker.sol
  packages/contracts/contracts/src/test/advanced/AdvancedVoting.sol
  packages/contracts/contracts/src/test/base/BaseERC721Checker.sol
  packages/contracts/contracts/src/test/base/BaseVoting.sol
  packages/contracts/test/Advanced.test.ts
  packages/contracts/test/Base.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

refactor(contracts): removed src/core subfolders
  .yarnrc.yml
  package.json
  packages/contracts/contracts/checker/AdvancedChecker.sol
  packages/contracts/contracts/checker/BaseChecker.sol
  packages/contracts/contracts/interfaces/IAdvancedChecker.sol
  packages/contracts/contracts/interfaces/IAdvancedPolicy.sol
  packages/contracts/contracts/interfaces/IBaseChecker.sol
  packages/contracts/contracts/interfaces/IBasePolicy.sol
  packages/contracts/contracts/interfaces/IClone.sol
  packages/contracts/contracts/interfaces/IFactory.sol
  packages/contracts/contracts/interfaces/IPolicy.sol
  packages/contracts/contracts/package.json
  packages/contracts/contracts/policy/AdvancedPolicy.sol
  packages/contracts/contracts/policy/BasePolicy.sol
  packages/contracts/contracts/policy/Policy.sol
  packages/contracts/contracts/proxy/Clone.sol
  packages/contracts/contracts/proxy/Factory.sol
  packages/contracts/contracts/test/Advanced.t.sol
  packages/contracts/contracts/test/Base.t.sol
  packages/contracts/contracts/test/advanced/AdvancedERC721Checker.sol
  packages/contracts/contracts/test/advanced/AdvancedERC721CheckerFactory.sol
  packages/contracts/contracts/test/advanced/AdvancedERC721Policy.sol
  packages/contracts/contracts/test/advanced/AdvancedERC721PolicyFactory.sol
  packages/contracts/contracts/test/advanced/AdvancedVoting.sol
  packages/contracts/contracts/test/base/BaseERC721Checker.sol
  packages/contracts/contracts/test/base/BaseERC721CheckerFactory.sol
  packages/contracts/contracts/test/base/BaseERC721Policy.sol
  packages/contracts/contracts/test/base/BaseERC721PolicyFactory.sol
  packages/contracts/contracts/test/base/BaseVoting.sol
  packages/contracts/contracts/test/utils/NFT.sol
  packages/contracts/foundry.toml
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  yarn.lock
Due: prettier --write --no-error-on-unmatched-pattern, eslint

refactor(contracts): update local compiler to 0.8.28
  packages/contracts/foundry.toml
  packages/contracts/hardhat.config.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

chore(contracts): prepare for extensions
  packages/contracts/test/core/Advanced.test.ts
  packages/contracts/test/core/Base.test.ts
  packages/contracts/test/extensions/.gitkeep
Due: prettier --write --no-error-on-unmatched-pattern, eslint

feat(contracts): draft semaphore extension
  packages/contracts/contracts/extensions/SemaphoreChecker.sol
  packages/contracts/contracts/extensions/SemaphoreCheckerFactory.sol
  packages/contracts/contracts/extensions/SemaphorePolicy.sol
  packages/contracts/contracts/extensions/SemaphorePolicyFactory.sol
  packages/contracts/contracts/package.json
  packages/contracts/contracts/policy/AdvancedPolicy.sol
  packages/contracts/contracts/policy/BasePolicy.sol
  packages/contracts/package.json
  yarn.lock
Due: prettier --write --no-error-on-unmatched-pattern

feat(contracts): add encoded scope with prover address and group id to avoid frontrunning
  packages/contracts/contracts/extensions/SemaphoreChecker.sol
Due: prettier --write --no-error-on-unmatched-pattern

test(contracts): add forge tests for Semaphore extensions
  packages/contracts/contracts/test/examples/Advanced.t.sol
  packages/contracts/contracts/test/examples/Base.t.sol
  packages/contracts/contracts/test/examples/advanced/AdvancedERC721Checker.sol
  packages/contracts/contracts/test/examples/advanced/AdvancedERC721CheckerFactory.sol
  packages/contracts/contracts/test/examples/advanced/AdvancedERC721Policy.sol
  packages/contracts/contracts/test/examples/advanced/AdvancedERC721PolicyFactory.sol
  packages/contracts/contracts/test/examples/advanced/AdvancedVoting.sol
  packages/contracts/contracts/test/examples/base/BaseERC721Checker.sol
  packages/contracts/contracts/test/examples/base/BaseERC721CheckerFactory.sol
  packages/contracts/contracts/test/examples/base/BaseERC721Policy.sol
  packages/contracts/contracts/test/examples/base/BaseERC721PolicyFactory.sol
  packages/contracts/contracts/test/examples/base/BaseVoting.sol
  packages/contracts/contracts/test/examples/utils/NFT.sol
  packages/contracts/contracts/test/extensions/Semaphore.t.sol
  packages/contracts/contracts/test/extensions/mocks/BaseCheckerMock.sol
  packages/contracts/contracts/test/extensions/mocks/SemaphoreMock.sol
Due: prettier --write --no-error-on-unmatched-pattern

docs(contracts): update code comments
  packages/contracts/contracts/extensions/SemaphoreChecker.sol
  packages/contracts/contracts/extensions/SemaphoreCheckerFactory.sol
  packages/contracts/contracts/extensions/SemaphorePolicy.sol
  packages/contracts/contracts/extensions/SemaphorePolicyFactory.sol
  packages/contracts/contracts/test/extensions/Semaphore.t.sol
  packages/contracts/contracts/test/extensions/mocks/BaseCheckerMock.sol
  packages/contracts/contracts/test/extensions/mocks/SemaphoreMock.sol
Due: prettier --write --no-error-on-unmatched-pattern

test(contracts): add hardhat tests for semaphore extension
  packages/contracts/contracts/test/extensions/Semaphore.t.sol
  packages/contracts/test/extensions/.gitkeep
  packages/contracts/test/extensions/Semaphore.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

docs(contracts): update readme files
  README.md
  packages/contracts/contracts/README.md
Due: prettier --write --no-error-on-unmatched-pattern

feat(contracts): add basic scripts with ignition for deployment of factories and clones
  packages/contracts/hardhat.config.ts
  packages/contracts/ignition/modules/.gitkeep
  packages/contracts/ignition/modules/extensions/Semaphore.ts
  packages/contracts/package.json
  packages/contracts/tasks/extensions/semaphore.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

Path conditions:
  prettier --write --no-error-on-unmatched-pattern: any of: **/*.{js,ts,jsx,tsx,md,json,sol,yaml,yml}
  eslint: any of: **/*.{js,ts,jsx,tsx}
