Repository privacy-scaling-explorations/excubiae: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --no-error-on-unmatched-pattern, eslint

.lintstagedrc.json:

{
    "**/*.{js,ts,jsx,tsx,md,json,sol,yaml,yml}": "prettier --write --no-error-on-unmatched-pattern",
    "**/*.{js,ts,jsx,tsx}": "eslint"
}

chore: basic commands and scripts for versioning and cleaning
  package.json
  scripts/clean-apps.ts
  scripts/clean-packages.ts
  scripts/publish.ts
  scripts/remove-stable-version-field.ts
  scripts/version.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

chore(contracts): missing LICENSE on contracts
  packages/contracts/contracts/LICENSE
Due: none

fix(contracts): avoid prompt on solhint fix
  packages/contracts/package.json
Due: prettier --write --no-error-on-unmatched-pattern

ci: add basic automation for style and test on pull requests
  .github/workflows/pull-requests.yml
Due: prettier --write --no-error-on-unmatched-pattern

fix: skip explicitly the symlinks format with prettier
  .github/workflows/pull-requests.yml
Due: prettier --write --no-error-on-unmatched-pattern

feat(contracts): support hardhat and foundry for contracts package
  .eslintignore
  .github/workflows/pull-requests.yml
  .prettierignore
  .prettierrc.json
  apps/docs/package.json
  apps/website/package.json
  package.json
  packages/contracts/.gitignore
  packages/contracts/.prettierrc.json
  packages/contracts/.solhint.json
  packages/contracts/.solhintignore
  packages/contracts/contracts/package.json
  packages/contracts/contracts/src/Lock.sol
  packages/contracts/contracts/test/Lock.t.sol
  packages/contracts/foundry.toml
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/remappings.txt
  packages/contracts/test/Lock.ts
  scripts/clean-packages.ts
  scripts/version.ts
  yarn.lock
Due: prettier --write --no-error-on-unmatched-pattern, eslint

chore(contracts): update configs for networks and deployments; minor CI improvements
  .github/workflows/main.yml
  .prettierrc.json
  packages/contracts/.env.example
  packages/contracts/.gitignore
  packages/contracts/foundry.toml
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  yarn.lock
Due: prettier --write --no-error-on-unmatched-pattern, eslint

feat(contracts): init porting of excubia core abstract contract and FreeForAll extension
  packages/contracts/contracts/src/Lock.sol
  packages/contracts/contracts/src/core/Excubia.sol
  packages/contracts/contracts/src/core/IExcubia.sol
  packages/contracts/contracts/src/extensions/FreeForAllExcubia.sol
  packages/contracts/contracts/test/FreeForAllExcubia.t.sol
  packages/contracts/contracts/test/Lock.t.sol
  packages/contracts/ignition/modules/FreeForAllExcubia.ts
  packages/contracts/ignition/modules/Lock.ts
  packages/contracts/package.json
  packages/contracts/test/FreeForAllExcubia.test.ts
  packages/contracts/test/Lock.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

test(contracts): add advanced fuzz and invariant testing with Foundry for FreeForAllExcubia
  packages/contracts/.solhint.json
  packages/contracts/contracts/test/FreeForAllExcubia.t.sol
  packages/contracts/contracts/test/wrappers/FreeForAllExcubiaTestWrapper.sol
Due: prettier --write --no-error-on-unmatched-pattern

chore(contracts): generate coverage report for foundry
  packages/contracts/.gitignore
  packages/contracts/package.json
  scripts/clean-packages.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

refactor(contracts): adapt trait to check and pass internal-external behaviour
  packages/contracts/contracts/src/core/Excubia.sol
  packages/contracts/contracts/src/extensions/FreeForAllExcubia.sol
  packages/contracts/contracts/test/FreeForAllExcubia.t.sol
  packages/contracts/contracts/test/wrappers/FreeForAllExcubiaTestWrapper.sol
Due: prettier --write --no-error-on-unmatched-pattern

test(contracts): use hardhat fixture instead of before()
  packages/contracts/contracts/test/FreeForAllExcubia.t.sol
  packages/contracts/test/FreeForAllExcubia.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

refactor(contracts): apply foundry best practices & docs gen; minor docs & npm scripts improvements
  package.json
  packages/contracts/contracts/src/core/Excubia.sol
  packages/contracts/contracts/src/core/IExcubia.sol
  packages/contracts/contracts/src/extensions/FreeForAllExcubia.sol
  packages/contracts/contracts/test/FreeForAllExcubia.t.sol
  packages/contracts/contracts/test/wrappers/FreeForAllExcubiaHarness.sol
  packages/contracts/contracts/test/wrappers/FreeForAllExcubiaTestWrapper.sol
  packages/contracts/package.json
  scripts/clean-packages.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

chore: add code owners
  .github/CODEOWNERS
Due: none

refactor(contracts): use Checker contract instead of check() method
  packages/contracts/contracts/src/core/Checker.sol
  packages/contracts/contracts/src/core/Excubia.sol
  packages/contracts/contracts/src/core/IChecker.sol
  packages/contracts/contracts/src/core/IExcubia.sol
  packages/contracts/contracts/src/extensions/FreeForAllChecker.sol
  packages/contracts/contracts/src/extensions/FreeForAllExcubia.sol
  packages/contracts/contracts/test/FreeForAllExcubia.t.sol
  packages/contracts/contracts/test/wrappers/FreeForAllCheckerHarness.sol
  packages/contracts/contracts/test/wrappers/FreeForAllExcubiaHarness.sol
  packages/contracts/test/FreeForAllExcubia.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

refactor(contracts): more solid impl of checker contract
  packages/contracts/contracts/src/core/Checker.sol
  packages/contracts/contracts/src/core/Excubia.sol
  packages/contracts/contracts/src/core/IChecker.sol
  packages/contracts/contracts/src/core/IExcubia.sol
  packages/contracts/contracts/src/extensions/FreeForAllChecker.sol
  packages/contracts/contracts/src/extensions/FreeForAllExcubia.sol
  packages/contracts/contracts/test/FreeForAllExcubia.t.sol
  packages/contracts/contracts/test/wrappers/FreeForAllCheckerHarness.sol
  packages/contracts/contracts/test/wrappers/FreeForAllExcubiaHarness.sol
  packages/contracts/test/FreeForAllExcubia.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

refactor(contracts): optimize Excubia contract
  packages/contracts/contracts/src/core/Excubia.sol
  packages/contracts/contracts/src/extensions/FreeForAllExcubia.sol
  packages/contracts/contracts/test/FreeForAllExcubia.t.sol
  packages/contracts/contracts/test/wrappers/FreeForAllExcubiaHarness.sol
  packages/contracts/test/FreeForAllExcubia.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

refactor(contracts): minor changes
  packages/contracts/contracts/src/core/Checker.sol
  packages/contracts/contracts/src/core/Excubia.sol
  packages/contracts/contracts/src/core/IExcubia.sol
  packages/contracts/contracts/test/FreeForAllExcubia.t.sol
  packages/contracts/contracts/test/wrappers/FreeForAllExcubiaHarness.sol
  packages/contracts/test/FreeForAllExcubia.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

refactor(contracts): apply suggestions
  packages/contracts/contracts/src/core/Checker.sol
  packages/contracts/contracts/src/core/Excubia.sol
  packages/contracts/contracts/src/core/IChecker.sol
  packages/contracts/contracts/src/extensions/FreeForAllChecker.sol
  packages/contracts/contracts/test/FreeForAllExcubia.t.sol
  packages/contracts/contracts/test/wrappers/FreeForAllCheckerHarness.sol
  packages/contracts/test/FreeForAllExcubia.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

feat(contracts)!: add base and advanced Checker and Excubia contracts
  packages/contracts/.solhint.json
  packages/contracts/contracts/src/core/Excubia.sol
  packages/contracts/contracts/src/core/checker/AdvancedChecker.sol
  packages/contracts/contracts/src/core/checker/BaseChecker.sol
  packages/contracts/contracts/src/core/checker/IAdvancedChecker.sol
  packages/contracts/contracts/src/core/checker/IBaseChecker.sol
  packages/contracts/contracts/src/core/gatekeeper/AdvancedExcubia.sol
  packages/contracts/contracts/src/core/gatekeeper/BaseExcubia.sol
  packages/contracts/contracts/src/core/gatekeeper/Excubia.sol
  packages/contracts/contracts/src/core/gatekeeper/IAdvancedExcubia.sol
  packages/contracts/contracts/src/core/gatekeeper/IBaseExcubia.sol
  packages/contracts/contracts/src/core/gatekeeper/IExcubia.sol
  packages/contracts/contracts/src/extensions/FreeForAllChecker.sol
  packages/contracts/contracts/src/extensions/FreeForAllExcubia.sol
  packages/contracts/contracts/test/FreeForAllExcubia.t.sol
  packages/contracts/contracts/test/wrappers/FreeForAllCheckerHarness.sol
  packages/contracts/contracts/test/wrappers/FreeForAllExcubiaHarness.sol
  packages/contracts/test/FreeForAllExcubia.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

refactor(contracts): add mapping of mapping to handle multiple statuses in one gatekeeper x gate
  packages/contracts/contracts/src/core/checker/IAdvancedChecker.sol
  packages/contracts/contracts/src/core/gatekeeper/AdvancedExcubia.sol
  packages/contracts/contracts/src/core/gatekeeper/BaseExcubia.sol
  packages/contracts/contracts/test/FreeForAllExcubia.t.sol
  packages/contracts/test/FreeForAllExcubia.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

refactor(contracts): add return to checks
  packages/contracts/contracts/src/core/checker/AdvancedChecker.sol
  packages/contracts/contracts/src/core/checker/BaseChecker.sol
  packages/contracts/contracts/src/core/checker/IAdvancedChecker.sol
  packages/contracts/contracts/src/core/checker/IBaseChecker.sol
  packages/contracts/contracts/src/core/gatekeeper/AdvancedExcubia.sol
  packages/contracts/contracts/src/core/gatekeeper/BaseExcubia.sol
  packages/contracts/contracts/src/core/gatekeeper/IExcubia.sol
  packages/contracts/contracts/src/extensions/FreeForAllChecker.sol
Due: prettier --write --no-error-on-unmatched-pattern

refactor(contracts): remove extensions
  packages/contracts/contracts/src/core/gatekeeper/AdvancedExcubia.sol
  packages/contracts/contracts/src/extensions/FreeForAllChecker.sol
  packages/contracts/contracts/src/extensions/FreeForAllExcubia.sol
  packages/contracts/contracts/test/.gitkeep
  packages/contracts/contracts/test/FreeForAllExcubia.t.sol
  packages/contracts/contracts/test/wrappers/.gitkeep
  packages/contracts/contracts/test/wrappers/FreeForAllCheckerHarness.sol
  packages/contracts/contracts/test/wrappers/FreeForAllExcubiaHarness.sol
  packages/contracts/ignition/modules/FreeForAllExcubia.ts
  packages/contracts/package.json
  packages/contracts/test/.gitkeep
  packages/contracts/test/FreeForAllExcubia.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

refactor(contracts): apply new naming conventions to contracts
  packages/contracts/contracts/src/core/AdvancedChecker.sol
  packages/contracts/contracts/src/core/AdvancedPolicy.sol
  packages/contracts/contracts/src/core/BaseChecker.sol
  packages/contracts/contracts/src/core/BasePolicy.sol
  packages/contracts/contracts/src/core/Policy.sol
  packages/contracts/contracts/src/core/checker/BaseChecker.sol
  packages/contracts/contracts/src/core/checker/IBaseChecker.sol
  packages/contracts/contracts/src/core/gatekeeper/AdvancedExcubia.sol
  packages/contracts/contracts/src/core/gatekeeper/BaseExcubia.sol
  packages/contracts/contracts/src/core/gatekeeper/Excubia.sol
  packages/contracts/contracts/src/core/gatekeeper/IAdvancedExcubia.sol
  packages/contracts/contracts/src/core/gatekeeper/IBaseExcubia.sol
  packages/contracts/contracts/src/core/gatekeeper/IExcubia.sol
  packages/contracts/contracts/src/core/interfaces/IAdvancedChecker.sol
  packages/contracts/contracts/src/core/interfaces/IAdvancedPolicy.sol
  packages/contracts/contracts/src/core/interfaces/IBaseChecker.sol
  packages/contracts/contracts/src/core/interfaces/IBasePolicy.sol
  packages/contracts/contracts/src/core/interfaces/IPolicy.sol
Due: prettier --write --no-error-on-unmatched-pattern

test(contracts): add example implementation and tests for BaseChecker contract
  packages/contracts/.gitignore
  packages/contracts/contracts/package.json
  packages/contracts/contracts/src/AdvancedChecker.sol
  packages/contracts/contracts/src/AdvancedPolicy.sol
  packages/contracts/contracts/src/BaseChecker.sol
  packages/contracts/contracts/src/BasePolicy.sol
  packages/contracts/contracts/src/Policy.sol
  packages/contracts/contracts/src/interfaces/IAdvancedChecker.sol
  packages/contracts/contracts/src/interfaces/IAdvancedPolicy.sol
  packages/contracts/contracts/src/interfaces/IBaseChecker.sol
  packages/contracts/contracts/src/interfaces/IBasePolicy.sol
  packages/contracts/contracts/src/interfaces/IPolicy.sol
  packages/contracts/contracts/src/test/BaseERC721Checker.sol
  packages/contracts/contracts/src/test/BaseERC721Policy.sol
  packages/contracts/contracts/src/test/BaseVoting.sol
  packages/contracts/contracts/src/test/NFT.sol
  packages/contracts/contracts/test/.gitkeep
  packages/contracts/contracts/test/Base.t.sol
  packages/contracts/contracts/test/wrappers/.gitkeep
  packages/contracts/contracts/test/wrappers/BaseERC721CheckerHarness.sol
  packages/contracts/hardhat.config.ts
  packages/contracts/ignition/modules/.gitkeep
  packages/contracts/test/Base.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

chore(contracts): group base test contracts under base folder
  packages/contracts/contracts/src/test/base/BaseERC721Checker.sol
  packages/contracts/contracts/src/test/base/BaseERC721Policy.sol
  packages/contracts/contracts/src/test/base/BaseVoting.sol
  packages/contracts/contracts/test/Base.t.sol
  packages/contracts/contracts/test/wrappers/BaseERC721CheckerHarness.sol
Due: prettier --write --no-error-on-unmatched-pattern

chore(contracts): move contracts tests to the same place
  packages/contracts/contracts/src/test/Base.t.sol
  packages/contracts/contracts/src/test/utils/NFT.sol
  packages/contracts/contracts/src/test/wrappers/BaseERC721CheckerHarness.sol
  packages/contracts/foundry.toml
Due: prettier --write --no-error-on-unmatched-pattern

test(contracts): add missing base tests to reach max code coverage
  packages/contracts/.solcover.js
  packages/contracts/contracts/src/Policy.sol
  packages/contracts/contracts/src/test/Base.t.sol
  packages/contracts/contracts/src/test/wrappers/BaseERC721PolicyHarness.sol
  packages/contracts/test/Base.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

test(contracts): add harness for checker and policy to hardhat testing
  packages/contracts/.solcover.js
  packages/contracts/contracts/src/BaseChecker.sol
  packages/contracts/contracts/src/test/base/BaseERC721Checker.sol
  packages/contracts/contracts/src/test/base/BaseERC721Policy.sol
  packages/contracts/contracts/src/test/base/BaseVoting.sol
  packages/contracts/contracts/src/test/wrappers/BaseERC721PolicyHarness.sol
  packages/contracts/test/Base.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

test(contracts): add advanced ts tests
  packages/contracts/contracts/src/AdvancedChecker.sol
  packages/contracts/contracts/src/AdvancedPolicy.sol
  packages/contracts/contracts/src/BaseChecker.sol
  packages/contracts/contracts/src/interfaces/IAdvancedChecker.sol
  packages/contracts/contracts/src/interfaces/IAdvancedPolicy.sol
  packages/contracts/contracts/src/test/advanced/AdvancedERC721Checker.sol
  packages/contracts/contracts/src/test/advanced/AdvancedERC721Policy.sol
  packages/contracts/contracts/src/test/advanced/AdvancedVoting.sol
  packages/contracts/contracts/src/test/wrappers/AdvancedERC721CheckerHarness.sol
  packages/contracts/contracts/src/test/wrappers/AdvancedERC721PolicyHarness.sol
  packages/contracts/test/Advanced.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

test(contracts): add advanced tests for max code coverage
  packages/contracts/contracts/src/test/Advanced.t.sol
  packages/contracts/contracts/src/test/Base.t.sol
  packages/contracts/contracts/src/test/wrappers/AdvancedERC721PolicyHarness.sol
  packages/contracts/test/Advanced.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

refactor(contracts): make advanced policy flags immutable
  packages/contracts/contracts/src/AdvancedChecker.sol
  packages/contracts/contracts/src/AdvancedPolicy.sol
Due: prettier --write --no-error-on-unmatched-pattern

refactor(contracts): improve contracts and test documentation; small code optimization and refactor
  packages/contracts/contracts/src/AdvancedChecker.sol
  packages/contracts/contracts/src/AdvancedPolicy.sol
  packages/contracts/contracts/src/BaseChecker.sol
  packages/contracts/contracts/src/BasePolicy.sol
  packages/contracts/contracts/src/Policy.sol
  packages/contracts/contracts/src/interfaces/IAdvancedChecker.sol
  packages/contracts/contracts/src/interfaces/IAdvancedPolicy.sol
  packages/contracts/contracts/src/interfaces/IBaseChecker.sol
  packages/contracts/contracts/src/interfaces/IBasePolicy.sol
  packages/contracts/contracts/src/interfaces/IPolicy.sol
  packages/contracts/contracts/src/test/Advanced.t.sol
  packages/contracts/contracts/src/test/Base.t.sol
  packages/contracts/contracts/src/test/advanced/AdvancedERC721Checker.sol
  packages/contracts/contracts/src/test/advanced/AdvancedERC721Policy.sol
  packages/contracts/contracts/src/test/advanced/AdvancedVoting.sol
  packages/contracts/contracts/src/test/base/BaseERC721Checker.sol
  packages/contracts/contracts/src/test/base/BaseERC721Policy.sol
  packages/contracts/contracts/src/test/base/BaseVoting.sol
  packages/contracts/contracts/src/test/utils/NFT.sol
  packages/contracts/contracts/src/test/wrappers/AdvancedERC721CheckerHarness.sol
  packages/contracts/contracts/src/test/wrappers/AdvancedERC721PolicyHarness.sol
  packages/contracts/contracts/src/test/wrappers/BaseERC721CheckerHarness.sol
  packages/contracts/contracts/src/test/wrappers/BaseERC721PolicyHarness.sol
  packages/contracts/test/Advanced.test.ts
  packages/contracts/test/Base.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

refactor(contracts): improve custom error name of advanced contracts
  packages/contracts/contracts/src/AdvancedChecker.sol
  packages/contracts/contracts/src/interfaces/IAdvancedChecker.sol
  packages/contracts/contracts/src/test/Advanced.t.sol
  packages/contracts/test/Advanced.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

refactor(contracts): move advanced control flags for checks from checker to policy at enforce level
  packages/contracts/.solhint.json
  packages/contracts/contracts/src/AdvancedChecker.sol
  packages/contracts/contracts/src/AdvancedPolicy.sol
  packages/contracts/contracts/src/interfaces/IAdvancedChecker.sol
  packages/contracts/contracts/src/interfaces/IAdvancedPolicy.sol
  packages/contracts/contracts/src/test/Advanced.t.sol
  packages/contracts/contracts/src/test/advanced/AdvancedERC721Checker.sol
  packages/contracts/contracts/src/test/advanced/AdvancedERC721Policy.sol
  packages/contracts/contracts/src/test/wrappers/AdvancedERC721CheckerHarness.sol
  packages/contracts/contracts/src/test/wrappers/AdvancedERC721PolicyHarness.sol
  packages/contracts/test/Advanced.test.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

refactor(contracts): switched to pragma for compatibility; minor fix
  packages/contracts/contracts/src/AdvancedChecker.sol
  packages/contracts/contracts/src/AdvancedPolicy.sol
  packages/contracts/contracts/src/BaseChecker.sol
  packages/contracts/contracts/src/BasePolicy.sol
  packages/contracts/contracts/src/Policy.sol
  packages/contracts/contracts/src/interfaces/IAdvancedChecker.sol
  packages/contracts/contracts/src/interfaces/IAdvancedPolicy.sol
  packages/contracts/contracts/src/interfaces/IBaseChecker.sol
  packages/contracts/contracts/src/interfaces/IBasePolicy.sol
  packages/contracts/contracts/src/interfaces/IPolicy.sol
  packages/contracts/contracts/src/test/Advanced.t.sol
  packages/contracts/contracts/src/test/Base.t.sol
  packages/contracts/contracts/src/test/advanced/AdvancedERC721Checker.sol
  packages/contracts/contracts/src/test/advanced/AdvancedERC721Policy.sol
  packages/contracts/contracts/src/test/advanced/AdvancedVoting.sol
  packages/contracts/contracts/src/test/base/BaseERC721Checker.sol
  packages/contracts/contracts/src/test/base/BaseERC721Policy.sol
  packages/contracts/contracts/src/test/base/BaseVoting.sol
  packages/contracts/contracts/src/test/wrappers/AdvancedERC721CheckerHarness.sol
  packages/contracts/contracts/src/test/wrappers/AdvancedERC721PolicyHarness.sol
  packages/contracts/contracts/src/test/wrappers/BaseERC721CheckerHarness.sol
  packages/contracts/contracts/src/test/wrappers/BaseERC721PolicyHarness.sol
  packages/contracts/foundry.toml
  packages/contracts/hardhat.config.ts
Due: prettier --write --no-error-on-unmatched-pattern, eslint

refactor(contracts): change setTarget() visibility from public to external
  packages/contracts/contracts/src/Policy.sol
Due: prettier --write --no-error-on-unmatched-pattern

refactor(contracts): remove redundant if case; move struct to interface
  packages/contracts/contracts/src/AdvancedChecker.sol
  packages/contracts/contracts/src/AdvancedPolicy.sol
  packages/contracts/contracts/src/interfaces/IAdvancedChecker.sol
Due: prettier --write --no-error-on-unmatched-pattern

feat: add release workflow with github actions
  .github/workflows/release.yml
Due: prettier --write --no-error-on-unmatched-pattern

docs: add first version of readmes
  README.md
  packages/contracts/contracts/README.md
Due: prettier --write --no-error-on-unmatched-pattern
